.Rproj.user
.Rhistory
.RData
.Ruserdata
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/cva.distractor.whole.sample.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/data/2024-06-13/cva-stimuli-map-2024-06-13.csv
cva.distractor.gr2-5.sample.csv
cva.distractor.whole.sample.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/grades-2-5/ Notes 2024-06-13 Grades 2-5.docx
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/grades-2-5/cva-irt-input-grade-2-5-2024-06-13.csv
data/grades-2-5/cva-runs-public-grade-2-5-2024-06-13.csv
data/grades-2-5/cva-stimuli-map-grade-2-5-2024-06-13.csv
data/grades-2-5/trialFieldsExplained.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
data/grades-2-5/cva-trials-public-grade-2-5-2024-06-13.csv
docs/data/grades-2-5/ Notes 2024-06-13 Grades 2-5.docx
docs/data/.DS_Store
docs/data/grades-2-5/cva-irt-input-grade-2-5-2024-06-13.csv
docs/data/grades-2-5/cva-runs-public-grade-2-5-2024-06-13.csv
docs/data/grades-2-5/cva-trials-public-grade-2-5-2024-06-13.csv
docs/data/grades-2-5/trialFieldsExplained.csv
docs/data/grades-2-5/cva-stimuli-map-grade-2-5-2024-06-13.csv
data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/output/item.tbl.gr2_5_pubschl.sample.csv
docs/output/item.tbl.whole.sample.csv
output/item.tbl.gr2_5_pubschl.sample.csv
output/item.tbl.whole.sample.csv
docs/data/2024-06-13/cva-stimuli-map-2024-06-13.csv
docs/data/.DS_Store
